<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
<body>
    <h1>Error</h1>
    <h2>Sorry! The seems the page you looking for does not exist</h2>

    <%- include('./partials/nav.ejs') %>
</body>
</html>